<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">
    <insert id="save">
        INSERT INTO scores (name, kor, eng, math, total, average, grade)
        VALUES (#{name},#{kor},#{eng},#{math},#{total},#{avg},#{grade})
    </insert>

    <resultMap id="score" type="com.spring.mvc.chap04.entity.Score">
        <result property="stuNum" column="stu_num"/>
        <result property="avg" column="average"/>
    </resultMap>

    <select id="findAll" resultMap="score">
        SELECT * FROM scores
        <choose>
            <when test="sort == 'stu_num'">
                ORDER BY stu_num ASC
            </when>
            <when test="sort == 'name'">
                ORDER BY name ASC
            </when>
            <otherwise>
                ORDER BY average DESC
            </otherwise>
        </choose>
    </select>

    <select id="findByStuNum" resultMap="score">
        SELECT * FROM scores WHERE stu_num = #{stuNum}
    </select>

    <delete id="deleteByStuNum">
        DELETE FROM scores WHERE stu_num = #{stuNum}
    </delete>

    <update id="modify">
        UPDATE scores SET kor = #{kor}, eng = #{eng}, math = #{math}
        , total = #{total}, average = #{avg}, grade = #{grade}
        WHERE stu_num = #{stuNum}
    </update>
</mapper>